@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vw;
    font-family: 'Manrope', sans-serif;
    background-color:  hsl(210, 46%, 95%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.mainImage {
  max-width: 314px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -50px;
  object-fit: contain;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: white; */
}
main{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  padding: 30px;
  z-index: 1;
}
h3{
    font-size: 18px;
    letter-spacing: 0.8px;
    color: hsl(217, 19%, 35%);
    line-height: 1.5rem;
    font-weight: 700;
}
.main-p{
    max-width: 350px;
    color:  hsl(214, 17%, 51%);
    padding-top: 11px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}
.avatar{
    width: 40px;
    border-radius: 50%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-profile{
    display: flex;
    justify-content: left;
    gap: 1.5rem;
    align-items: center;
}
.name p:nth-child(1){
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size: 14px;
    padding-bottom: 5px;
}
.name p:nth-child(2){
    color: hsl(212, 23%, 69%);
    font-size: 13px;
}
.share-icon{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50px;
    object-fit: contain;
    padding: 7px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
 .icons {
    visibility: hidden;
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
    text-align: center;
    border-radius: 5px;
    padding: 15px 25px;
    gap: 0.8rem;
    position: absolute;
    z-index: 2;
    bottom: 62%;
    left: 62%;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
 .icons::after {
    content: "";
    position: absolute;
    top: 85%;
    left: 40%;
    z-index: 6;
    border-width: 20px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
  .share{
    cursor: pointer;
  }
  
  .share:hover .icons, .share:active .icons {
    visibility: visible;
    opacity: 1;
   
  }
  .icons p{
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 13px;
  }
  @media (max-width : 1024px){
    .icons {
        position: absolute;
        z-index: 2;
        bottom: 62%;
        left: 73%;

      }
      
  }
  @media (max-width: 768px){
    .container{
        flex-direction: column;
        border-radius: 10px;
        width: 320px;
    }
    main{
        padding-bottom: 15px;
        border-radius: 10px;
    }
    .mainImage{
        width: 320px;
        object-fit: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        margin: 0;
    }
    .container{
        position: relative;
    }
    .icons {

        position: absolute;
        z-index: 2;
        bottom: 0%;
        left: 0%;
        width: 100%;
        border-radius: 0;
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

      }
      .share-icon{
        z-index: 99;
      }
      .icons::after {
        display: none;
      }
      h3{
        font-size: 14px;
        line-height: 1.2rem;
      }
      .main-p{
        font-size: 13px;
        padding-bottom: 20px;
        line-height: 1.2rem;
      }
      .avatar{
        width: 30px;
      }
      .name p:nth-child(1){
        font-size: 12px;
      }
      .name p:nth-child(2){
        font-size: 11px;
      }
  }